@model Botines.Web.ViewModels.Cliente.ClienteListVm

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar CLIENTE</h2>

<h3>¿Está seguro de querer borrar el registro seleccionado?</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
